$inter: "Inter", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;
$screen-size: 1440px;
$desktop-size: 768px;
$screen-swap-size: 425px;
$mobile-size: 320px;
$text-color: #e4e5ea;
$main-bgc: #0e1014;